.border {
    width: 50em;
    height: 30ex;
    overflow: auto;
    border: thick solid rgba(0, 0, 0, 0.96);
}

.scrollbar {
    width: 90%;
    height: auto;
    overflow: hidden;
    text-align: right;
}

.inline-form {
    display: inline;
}
