
.sntoprightcornerout{
    position: relative;
}

.sntoprightcornerin{
    position: absolute; top: 0px; right: 0px;
}

.border {
    width: 50em;
    height: 30ex;
    overflow: auto;
    border: thick solid rgba(0, 0, 0, 0.96);
}

.btn-margin-buttom {
    margin-bottom: 10px;
}

.scrollable {
    height: 400px;
    width:100%;
    overflow: scroll;
}

.inline-form {
    display: inline;
}

