<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>


    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"
              th:href="@{/css/bootstrap.min.css}">

        <link href="../css/mystyle.css" rel="stylesheet" type="text/css"
              th:href="@{/css/mystyle.css}">

    </th:block>

    <title>Fehler 500</title>
</head>
<body>
<div class="text-center">
    <h1>Es tut uns Leid, ein unerwarteter Fehler ist unterlaufen</h1>
    <img class="img-fluid" th:src="@{/images/yellow-sad-smiley.png}">
</div>
<div class="text-center">
    <h2><a href="javascript:history.back()">Hier geht's zurück</a></h2>
</div>
</body>

</html>