<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>


    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"
              th:href="@{/css/bootstrap.min.css}">

        <link href="../css/mystyle.css" rel="stylesheet" type="text/css"
              th:href="@{/css/mystyle.css}">

    </th:block>

    <title>Fehler 403</title>
</head>
<body>
<div class="text-center">
    <h1>Sie haben nicht die benötigten Rechte</h1>
    <img th:src="@{/yellow-sad-smiley.png}" class="img-fluid">
</div>
<div class="text-center">
    <h2><a th:href="@{/zulassung2/}">Hier gehts zurück</a></h2>
</div>
</body>

</html>