<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Orga</title>
</head>

<body>
<
<div id="content" th:fragment="mycontent">
    <h1 class="text-center">
        Organisatoren
    </h1>

    <p class="lead text-center">
        Hier können Sie die entsprechenden Dateien hochladen
    </p>

    <div id="mops-upload-csv">
        <form action="/zulassung2/orga" enctype="multipart/form-data" method="POST">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <p>Wählen Sie eine Textdatei aus
                <input name="file" type="file"/>
                <input accept=".csv" type="submit" value="Hochladen"/>
            </p>
            <p>
            <td>Wählen Sie eine Textdatei aus</td>
            <td><input name="file" type="file"/></td>
            </p>
            <p>
            <td>Laden Sie bitte Ihre Datei hoch</td>
            <td><input accept=".csv" type="submit" value="Hochladen"/></td>
            </p>
            <td>Email verschicken</td>
            <td><input accept=".email" type="submit" value="Send"/></td>
        </form>
    </div>
    <div>
        <h1 class="text-center">
            Quittung validieren
        </h1>
        <p>
        <td>Prüfen Sie Ihr Signatur</td>
        <td><input accept=".csv" type="submit" value="Signatur prüfen"/></td>
        </p>
        </form>
    </div>


    <div style="width:50em;height:30ex;overflow:auto;border:thick solid rgba(0,0,0,0.96)">
        <p style="width:90%;height:auto;overflow:hidden;text-align:right">
        <ul th:each="student : ${students}" th:remove="all-but-first">
            <li>
                <span th:text="${student.matriculationNumber}">1234</span>
                <span th:text="${student.email}">Peter</span>
                <span th:text="${student.name}">Peter</span>
                <span th:text="${student.foreName}">Peter</span>
                </a></li>
        </ul>
        </p>
    </div>
</div>

    </div>
</div>
</body>
</html>
