<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Organisation</title>
</head>
<body>

<div class="jumbotron" id="content" th:fragment="mycontent">
    <link href="../static/css/stylesheet.css" rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <div class="justify-content-md-center">
        <img src="../static/pictures/orga-picture.png" alt="Organisator"
             th:src="@{/pictures/orga-picture.png}" width="10%">
    </div>
    <h1 class="display-3">Organisatoren</h1>


    <h1 class="display-4">Studentenliste</h1>
    <div class="lead">Hier können Sie die entsprechenden Dateien hochladen!</div>
    <br>
    <div class="form-group" id="mops-upload-csv">
        <form class="inline-form" action="/zulassung2/orga" enctype="multipart/form-data" method="POST">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="lead">Wählen Sie eine CSV-Datei aus</div>
            <input class="form-control-file" accept=".csv" name="file" type="file">
            <br>
            <label for="subjectControlInput" class="lead">Fach:</label>
            <input type="text" class="form-control form-control-sm" id="subjectControlInput" name="subject"
                   placeholder="Name des Fachs" required>
            <hr>
            <button class="btn btn-primary" type="submit">Hochladen</button>
        </form>
        <form class="inline-form" action="/zulassung2/orga/sendmail" method="POST">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn btn-primary" type="submit">E-Mails versenden</button>
        </form>
    </div>
    <div class="table-responsive" th:if="${not students.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>Matrikelnummer</th>
                <th>E-Mail</th>
                <th>Nachname</th>
                <th>Vorname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text=" ${student.matriculationNumber}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.foreName}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        <div>
             <img src="../static/pictures/White.png" alt="white"
                  th:src="@{/pictures/white.png}" width="1590" height="20px">
        </div>

        <h1 class="display-4">Quittung validieren</h1>
        <form class="inline-form" enctype="multipart/form-data" method="post"
              th:action="@{/zulassung2/orga/upload-receipt}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <p class="lead">Laden Sie die zu prüfende Quittung hoch</p>
            <input accept=".txt" class="form-control-file" name="receipt" type="file" required>
            <hr>
            <button class="btn btn-primary" type="submit">Hochladen</button>
        </form>
        <form class="inline-form" action="/zulassung2/orga/validate-receipt" method="POST">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn btn-primary" type="submit">Quittung validieren</button>
        </form>
        <div class="alert alert-warning" id="error-message" th:if="${error} != null" th:text="${error}">
            Some error message
        </div>
        <div class="alert alert-success" id="success-message" th:if="${success} != null" th:text="${success}">
            Some success message
        </div>
    </div>

</div>
</body>
</html>
