<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(content=~{:: mycontent})}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>StudentIn</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
  <h1 class="text-center">
    StudentInnen View
  </h1>

  <p class="lead text-center">
    Look at things, only StudentInnen should be able to see!
  </p>

  <div id="links" th:if="${entries}">
    <table class="table">
      <thead>
      <tr>
        <th>Aufgabe</th>
        <th>Fach</th>
        <th>Erledigt?</th>
      </tr>
      </thead>
      <tbody th:remove="all-but-first">
      <tr th:each="entry : ${entries}" th:object="${entry}">
        <td>
          <span th:text="*{attribute1}">
            hhu
          </span>
        </td>
        <td>
          <span th:text="*{attribute2}">
            https://hhu.de
          </span>
        </td>
        <td>
          <div class="alert alert-danger" role="alert">
            NO
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
